<div class="post">
    <div class="header">
        <h1>Post Title</h1>
        <button
            routerLink="/"
            class="btn btn-link"
        >
            To Home
        </button>
    </div>
    <div class="info">
        <strong>This Author</strong>
        <small>12.09.2019</small>
    </div>
    <div>
        <p>&emsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias autem, cum eius enim eveniet fugiat hic
            incidunt inventore magni molestias nulla omnis perferendis, possimus quasi quis quisquam quo ratione recusandae
            repellendus repudiandae sequi ullam velit voluptatem voluptatibus? Aut ducimus molestiae nemo nobis quas quos
            sint sit temporibus. Dolores, harum.</p>
        <p>&emsp;Ad atque cumque doloremque, ex explicabo facere laboriosam minima nihil, quasi repudiandae voluptate voluptates!
            Accusantium, commodi culpa dignissimos dolores excepturi fuga id incidunt inventore iusto officia, praesentium
            quo, ratione repudiandae vero voluptatibus? A adipisci alias consequatur eum fugit impedit libero mollitia,
            nulla sint! Earum exercitationem illum impedit laboriosam rerum temporibus.</p>
        <p>&emsp;Accusantium aliquam atque cupiditate, deserunt doloribus, ea error esse exercitationem id impedit iusto
            laboriosam maxime minus mollitia nihil odio odit pariatur qui repellat repellendus sit sunt ullam veritatis!
            Adipisci corporis ipsam laborum magni nihil nostrum quas quod repudiandae unde! Autem commodi consequatur eius
            est expedita, labore necessitatibus neque nostrum repudiandae.</p>
        <p>&emsp;A accusamus ad adipisci at, aut blanditiis consectetur debitis dicta dolorem enim eveniet explicabo laboriosam
            laudantium magni maxime nemo odio odit officiis porro qui ratione rem voluptas? Consectetur eaque esse impedit
            molestias nobis omnis praesentium, sunt. Dicta exercitationem iure porro. Animi blanditiis dicta eligendi,
            minima officia optio sequi sint vero?</p>
    </div>
</div>


